$primary-color: #dc2626;
$secondary-color: #ef4444;

.tester-layout {
  .sidebar-container {
    background-color: $primary-color;
  }

  .cloud-download-icon {
    &:hover {
      background-color: $secondary-color;
    }
  }

  .sidebar-parent-item {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .child {
    background-color: $secondary-color;

    .list {
      &:hover {
        background-color: $primary-color;
      }

      .sub-child {
        background-color: $secondary-color;
      }
    }
  }

  .table-header {
    background-color: $primary-color;
  }
}